content/.obsidian
content/.obsidian/workspace.json
/.obsidian
node_modules
quartz/.quartz-cache
public

# gradle
.gradle/
**/build/
!**/src/**/build

# misplaced test artifacts
derby.log
logs/
tmp/

# IntelliJ IDEA noise
out/
.idea/
*.iml
*.ipr
*.iws

# Eclipse IDE noise
.settings/
.project
.classpath

# NetBeans noise
nbproject/

# Other Editor's noise
*~
*.swp

# MacOSX noise
.DS_Store

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build